{% extends 'base.html' %}
{% load static %}

{% block title %}Home | PetMate{% endblock %}

{% block content %}
    <main>
        <section class="row1">
            <div class="container">
                
                {% block header %}
                    {{block.super}}
                {% endblock %}
                    
                <section class="row--1">
                    <h3>Welcome!</h3>
                    <p>Have you been having headaches on how your pet is going to mate? This is the right place. Take a
                        step by listing your pet for mating and find a match in no time.</p>
                    <h4>Click here to list your pet for mating</h4>
                    
                    {% if user.is_authenticated %}
                        <p class="link"><img src="{% static 'img/arrow.png' %}" alt=""><a href="{% url 'petlisting' %}">Click Here</a></p>
                    {% else %}
                        <p class="link"><img src="{% static 'img/arrow.png' %}" alt=""><a href="{% url 'account_login' %}">Click Here</a></p>                        
                        
                    {% endif %}
                        
                </section>
            </div>

        </section>
        <section class="row2">
            <div class="mobile">
                <h3>AVAILABLE FOR MATING</h3>
                <p>(based on your location)</p>
                <a href="#">All pets</a>
            </div>
            <h3 class="desktop">Ready to mate pets?</h3>
            <section class="pets">
                <article>
                    <img src="https://res.cloudinary.com/ebugo/image/upload/v1577224169/petmate/ueayioss5wbzurteynwz.jpg" alt="" class="pet_img">
                    <div class="p_details">
                        <i style="display:none;"><span class="gender">Male</span><span class="status">Safe to pair</span></i>
                        <h5 class="pet_name">Young Puppies</h5>
                        <p class="pet-breed">Beagle</p class="pet-breed">
                        <span><img src="{% static 'img/location.png' %}" alt=""> <span class="pet_location">Ikeja, Lagos</span></span>
                    </div>
                </article>
                <article>
                    <img src="https://res.cloudinary.com/ebugo/image/upload/v1577224172/petmate/bkv6mobylqt41p5rpt4m.jpg" alt="" class="pet_img">
                    <div class="p_details">
                        <i style="display:none;"><span class="gender">Female</span><span class="status">Safe to pair</span></i>

                        <h5 class="pet_name">Meek Cat</h5>
                        <p class="pet-breed">White foul</p>
                        <span><img src="{% static 'img/location.png' %}" alt=""> <span class="pet_location"> VI, Lagos</span></span>
                    </div>
                </article>
                <article>
                    <img src="https://res.cloudinary.com/ebugo/image/upload/v1577224164/petmate/exbftauzhpxvk4vqptil.jpg" alt="" class="pet_img">
                    <div class="p_details">
                        <i style="display:none;"><span class="gender">Female</span><span class="status">Safe to pair</span></i>

                        <h5 class="pet_name">Rabbit</h5>
                        <p class="pet-breed">Mexican</p>
                        <span><img src="{% static 'img/location.png' %}" alt=""> <span class="pet_location"> Lekki, Lagos</span></span>
                    </div>
                </article>
                <article>
                    <img src="https://res.cloudinary.com/ebugo/image/upload/v1577224205/petmate/jomibxx6kkwbchiu4tmg.jpg" alt="" class="pet_img">
                    <div class="p_details">
                        <i style="display:none;"><span class="gender">Male</span><span class="status">Not safe to pair</span></i>

                        <h5 class="pet_name">Young Cat</h5>
                        <p class="pet-breed">Melo</p>
                        <span><img src="{% static 'img/location.png' %}" alt=""> <span class="pet_location"> Surulere,
                                Lagos</span></span>
                    </div>
                </article>
                <article>
                    <img src="https://res.cloudinary.com/ebugo/image/upload/v1577224164/petmate/oungffjs2kux0xb4qx6r.jpg" alt="" class="pet_img">
                    <div class="p_details">
                        <i style="display:none;"><span class="gender">Female</span><span class="status">Safe to pair</span></i>

                        <h5 class="pet_name">Cat & Dog</h5>
                        <p class="pet-breed">Royce</p>
                        <span><img src="{% static 'img/location.png' %}" alt=""> <span class="pet_location"> Ikeja Lagos</span></span>
                    </div>
                </article>
                <article>
                    <img src="https://res.cloudinary.com/ebugo/image/upload/v1577224177/petmate/avz3tyinkuqblbmhqipv.jpg" alt="" class="pet_img">
                    <div class="p_details">
                        <i style="display:none;"><span class="gender">Male</span><span class="status">Safe to pair</span></i>

                        <h5 class="pet_name">Rabbit</h5>
                        <p class="pet-breed">S. American</p>
                        <span><img src="{% static 'img/location.png' %}" alt=""> <span class="pet_location"> BI, Lagos</span></span>
                    </div>
                </article>
                <article>
                    <img src="https://res.cloudinary.com/ebugo/image/upload/v1577224169/petmate/ueayioss5wbzurteynwz.jpg" alt="" class="pet_img">
                    <div class="p_details">
                        <i style="display:none;"><span class="gender">Male</span><span class="status">Safe to pair</span></i>

                        <h5 class="pet_name">Young Puppies</h5>
                        <p class="pet-breed">Beagle</p>
                        <span><img src="{% static 'img/location.png' %}" alt=""> <span class="pet_location"> Ikeja, Lagos</span></span>
                    </div>
                </article>
                <article>
                    <img src="https://res.cloudinary.com/ebugo/image/upload/v1577224172/petmate/bkv6mobylqt41p5rpt4m.jpg" alt="" class="pet_img">
                    <div class="p_details">
                        <i style="display:none;"><span class="gender">Female</span><span class="status">Not safe to pair</span></i>

                        <h5 class="pet_name">Meek Cat</h5>
                        <p class="pet-breed">White foowl</p>
                        <span><img src="{% static 'img/location.png' %}" alt=""> <span class="pet_location"> VI, Lagos</span></span>
                    </div>
                </article>
                <article>
                    <img src="https://res.cloudinary.com/ebugo/image/upload/v1577224164/petmate/exbftauzhpxvk4vqptil.jpg" alt="" class="pet_img">
                    <div class="p_details">
                        <i style="display:none;"><span class="gender">Male</span><span class="status">Safe to pair</span></i>

                        <h5 class="pet_name">Rabbit</h5>
                        <p class="pet-breed">Nigerian</p>
                        <span><img src="{% static 'img/location.png' %}" alt=""> <span class="pet_location"> Lekki, Lagos</span></span>
                    </div>
                </article>
                <article>
                    <img src="https://res.cloudinary.com/ebugo/image/upload/v1577224205/petmate/jomibxx6kkwbchiu4tmg.jpg" alt="" class="pet_img">
                    <div class="p_details">
                        <i style="display:none;"><span class="gender">Female</span><span class="status">Safe to pair</span></i>

                        <h5 class="pet_name">Young Cat</h5>
                        <p class="pet-breed">Black foowl</p>
                        <span><img src="{% static 'img/location.png' %}" alt=""> <span class="pet_location"> Surulere,
                                Lagos</span></span>
                    </div>
                </article>
                <article>
                    <img src="https://res.cloudinary.com/ebugo/image/upload/v1577224164/petmate/oungffjs2kux0xb4qx6r.jpg" alt="" class="pet_img">
                    <div class="p_details">
                        <i style="display:none;"><span class="gender">Female</span><span class="status">Safe to pair</span></i>

                        <h5 class="pet_name">Cat & Dog</h5>
                        <p class="pet-breed">Rotally</p>
                        <span><img src="{% static 'img/location.png' %}" alt=""> <span class="pet_location"> Ikeja Lagos</span></span>
                    </div>
                </article>
                <article>
                    <img src="https://res.cloudinary.com/ebugo/image/upload/v1577224177/petmate/avz3tyinkuqblbmhqipv.jpg" alt="" class="pet_img">
                    <div class="p_details">
                        <i style="display:none;"><span class="gender">Male</span><span class="status">Not safe to pair</span></i>

                        <h5 class="pet_name">Rabbit</h5>
                        <p class="pet-breed">Flank</p>
                        <span><img src="{% static 'img/location.png' %}" alt=""> <span class="pet_location"> BI, Lagos</span></span>
                    </div>
                </article>
            </section>

            <p class="more_pets"><a href="#">More</a></p>
        </section>
    </main>
{% endblock %}