{% extends 'base.html' %}
{% load static %}

{% block title %}Pet Details | PetMate{% endblock %}


{% block headlinks %}
    <link rel="stylesheet" href="{% static 'css/pet-details.css' %}">
{% endblock %}
    

{% block content %}
    <main>
        <section class="row1">
            <div class="container">
                
                {% block header %}
                    {{ block.super }}
                {% endblock %}
                    
                <section class="row--1">
                    <article>
                        <div class="pet_details">
                            <h3>PET DETAILS</h3>
                            <aside>
                                <p>Pet Type: <span class="pet_type">Dog</span></p>
                                <p>Pet Bread: <span class="pet_breed">Beagle</span></p>
                                <p>Pet Gender: <span class="gender">Male</span></p>
                                <p>Pet Location: <span class="pet_location">Ikeja,Lagos</span></p>
                                <p>Pet Status: <span class="status">Safe to pair</span></p>
                            </aside>
                        </div>
                        <div class="pet_img">
                            <img src="https://res.cloudinary.com/ebugo/image/upload/v1577224169/petmate/ueayioss5wbzurteynwz.jpg" alt="">
                        </div>
                    </article>
                    <button id="pair">Pair</button>
                </section>
            </div>

        </section>
        <section class="footer">
            <div class="footer_container">
                <div class="policy">
                    <h3>Our Policy</h3>
                    <p>The policy content goes here The policy content goes here The policy content goes
                        here________________________________ __________________________________
                        ___________________________________ __________________________________ _______________ ________-
                        ___________ _________- __________ ________</p>
                </div>
                <div class="contact">
                    <h3>Contact Us</h3>
                    <p>Email: <span>info@dummy.com</span></p>
                    <p>Customer care: <span>08012345678</span></p>
                </div>
            </div>
            <div class="footer_footer">
                <p>All right reserved @petmate team 2019</p>
            </div>
        </section>
    </main>
{% endblock %}

{% block scripts %}
    <script src="{% static 'petlisting/js/petdetails.js' %}"></script>
{% endblock %}