<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'petlisting/css/main.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <main>
        <section class="row1">
            <div class="container">
                <header>
                    <div id="navButton">
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                    </div>
                    <span class="logo"><i class="fa fa-paw"> </i><a href="{% url 'index' %}"> PetMate</a>
                    </span>
                    <span class="search">
                        <i class="fa fa-search"></i>
                    </span>
                    <nav id="nav">
                        <a href="{% url 'petdetails' %}">Policy</a>
                        <a href="{% url 'petdetails' %}">About Us</a>
                        <a href="#">Contact us</a>
                    </nav>
                </header>
            </div>
        </section>

        {% block content %}
        {% endblock %}

    </main>
</body>

</html>